@{
    ViewData["Title"] = "Home Page";
}

@* <div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    
</div> *@
<div class="text-center">
    <h1 class="display-8">Bienvenido al Sistema de Gestión Escolar</h1>
    <iframe src="https://lottie.host/embed/2987766c-6d85-4b76-82d9-8aba44e1c2c0/8Xdn6612GI.json" width="1000" height="600"></iframe></div>